@model RepVault.ViewModels.CombinedWorkoutHistoryViewModel

<h2>Workout History</h2>

@if (!Model.StrengthWorkouts.Any() && !Model.CardioWorkouts.Any())
{
    <p>No workouts logged yet.</p>
}
else
{
    @if (Model.StrengthWorkouts.Any())
    {
        <h4>Strength Workouts</h4>
        <ul class="list-group mb-4">
            @foreach (var workout in Model.StrengthWorkouts)
            {
                <li class="list-group-item">
                    <strong>@workout.Date.ToShortDateString()</strong> - @workout.ExerciseName, @workout.Sets sets, @workout.Reps reps, @workout.Weight lbs
                </li>
            }
        </ul>
    }

    @if (Model.CardioWorkouts.Any())
    {
        <h4>Cardio Workouts</h4>
        <ul class="list-group">
            @foreach (var cardio in Model.CardioWorkouts)
            {
                <li class="list-group-item">
                    <strong>@cardio.Date.ToShortDateString()</strong> - @cardio.ActivityType for @cardio.Duration minutes, Distance: @cardio.Distance @cardio.DistanceUnit
                </li>
            }
        </ul>
    }
}
